.button-gradient {
    color: $theme-color;
    font-weight: bold;
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 4rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1rem #ddd;
    background-image: linear-gradient(
        to right,
        #fff 0%,
        #fff 50%,
        rgba(24, 143, 255, 0.4) 100%
    );
    cursor: pointer;
    user-select: none;
}

.button-gradient:hover {
    color: #fff;
    text-shadow: 0 0 0.3rem rgba(24, 143, 255, 0.4);
    background-image: linear-gradient(
        to right,
        #fff 0%,
        $theme-color 50%,
        $theme-color 100%
    );
    background-position: right center;
}

.button-gradient:active {
    opacity: 0.5;
}

::selection {
    // 选中复制时样式
    background: #252a31;
    color: #fff;
}
::-webkit-scrollbar {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
}
::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    &:hover {
        background-color: rgba(180, 180, 180, 0.2);
    }
}
::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: rgba(180, 180, 180, 0.4);
    &:hover {
        background-color: rgba(50, 50, 50, 0.4);
    }
}
.hidden-scrollbar {
    // 给父级滚动容器添加此class，鼠标移入容器才显示滚动条
    ::-webkit-scrollbar-thumb {
        background-color: rgba(180, 180, 180, 0);
    }
    &:hover ::-webkit-scrollbar-thumb {
        background-color: rgba(180, 180, 180, 0.4);
        &:hover {
            background-color: rgba(50, 50, 50, 0.4);
        }
    }
}

// layout-content 里的 css
.page-block {
    display: flex;
    align-items: center;
    margin: 0 20px 20px 20px;
    border-bottom: 1px solid #e8e8e8;

    .page-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: #111;
        padding: 15px 0;
    }

    .page-title > div:first-child {
        font-weight: bold;
    }
}

.page-content {
    flex: 1;
    padding: 0 30px;
}

.click-opacity-css {
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 1;
    }
}

p:last-child {
    margin-bottom: 0;
}

/* ant 全局样式修改 */
.ant-modal-wrap > .ant-modal > .ant-modal-content {
    .ant-modal-header {
        background: $layout-color;
        // border-bottom: none !important;

        .ant-modal-title {
            color: $fontColor !important;
        }
    }

    .ant-modal-close {
        color: $fontColor;
    }
}

.ant-modal-foote {
    border-top: none !important;
}

/deep/ .ant-table-placeholder {
    border: none !important;
}
