.app-container-layout {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;

    .is-layout-sider {
        max-width: $menu-width !important;
        min-width: $menu-width !important;
        width: $menu-width !important;
    }

    .layout-sider {
        background: rgba(255, 255, 255, 0);
        transform: translateZ(0);
        margin: 0 1rem 1rem;

        /deep/.ant-layout-sider-children {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .layout-menu {
            flex: 1;
            background: $layout-color;
            box-shadow: rgba(133, 133, 133, 0.1) 0 0 6px 2px;
            margin-top: 1rem;
            // border-radius: 4px;
            user-select: none;
        }

        .logo-image-box {
            background: $layout-color;
            min-height: $layout-header-height;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            box-shadow: rgba(133, 133, 133, 0.1) 0 0 6px 2px;
            padding: 0 0.7rem;
            margin-top: 1rem;

            .logo-image-svg {
                min-width: 36px;
                min-height: 36px;
            }

            .logo-image-title {
                width: 70%;
                min-height: 100%;
            }

            .login-title-animation-false {
                animation: login-title-animation-false 0.2s;
                animation-fill-mode: forwards;
            }

            .login-title-animation-true {
                animation: login-title-animation-true 0.2s;
                animation-fill-mode: forwards;
            }

            @keyframes login-title-animation-false {
                0% {
                    width: 0;
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            @keyframes login-title-animation-true {
                0% {
                    opacity: 1;
                }

                100% {
                    width: 0;
                    opacity: 0;
                }
            }
        }
    }

    .main-menu {
        flex: 1;
    }

    .ant-layout {
        background: rgba(255, 255, 255, 0);
    }

    .ant-layout-content {
        position: relative;
        margin: 0 1rem 1rem 0;
        // border-radius: 4px;
        box-sizing: border-box;
        background: $layout-color;
        box-shadow: rgba(133, 133, 133, 0.1) 0 0 6px 2px;
        display: flex;
        flex-direction: column;

        .layout-content-view {
            min-height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        .layout-content-view-loading::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            z-index: 2000;
        }
    }

    .public_local_loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;

        .public_local_loading_bg {
            color: $theme-color;
            font-size: 1.4rem;
            width: 12rem;
            height: 12rem;
            position: sticky;
            left: 48%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .public_local_loading_text,
        .public_local_loading_logo {
            margin-top: 1rem;
        }
    }
}

.ant-menu-inline-collapsed {
    width: $menu-width;
}

.ant-layout-header {
    height: $layout-header-height;
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 1;
    margin: 1rem 1rem 1rem 0;
    // border-radius: 1rem;
    box-shadow: rgba(133, 133, 133, 0.1) 0 0 6px 2px;
    background: $layout-color;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: $layout-header-height;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
