$theme-color: #1890ff;
$theme-color-rainbow-red: #eb5945;
$theme-color-rainbow-blue: #7095d5;
$theme-color-rainbow-green: #52c41a;
$theme-dark-color: #222;
$theme-light-color: #444;
$theme-background-color: #465881;

$layout-body-height: 90vh;

//图标大小
$fontSize:25px;
/*左边侧栏*/
//图标大小
$AenuSize:22px;
//一级颜色
$layout-color:rgba(255, 255, 255, 1);

//二级颜色
$menu-sub-color:#393e46;
//选中背景颜色
// $background-active:#29a19c;
//宽度
$menu-width: 50px;

$layout-header-height: 56px;


/*ant修改组件*/

//字体颜色
$fontColor:#222;

/*其他*/
$head_height:60px;